.background-img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 0px;
}
.card {
  width: auto;
  height: 300px;
}
.text-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  color: white;
}